@import url('fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-medium leading-tight text-2xl mt-5 mb-4;
  }
  h2 {
    @apply font-medium leading-tight text-xl mt-4 mb-3.5;
  }
  h3 {
    @apply font-medium leading-tight text-xl mt-4 mb-3;
  }
  h4 {
    @apply font-medium leading-tight text-xl mt-3 mb-2;
  }
  h5 {
    @apply font-medium leading-tight text-xl mt-3 mb-2;
  }
  h6 {
    @apply font-medium leading-tight text-base mt-3 mb-2;
  }
  p {
    @apply mt-3 mb-2;
  }
  ul {
    @apply space-y-4 list-disc list-inside mb-6;
  }
  table {
    @apply text-sm text-left;
  }
  thead {
    @apply text-xs uppercase;
  }
  th {
    @apply py-3 px-6;
  }
  tr {
    @apply border-b border-wm_dk_blue-400;
  }
  td {
    @apply py-4 px-6;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(229deg 24% 10%);
  }
  /* *::-webkit-scrollbar {
    width: 0.8rem;
  }
  *::-webkit-scrollbar-track {
    background: hsl(229deg 24% 10%);
  }
  *::-webkit-scrollbar-thumb {
    background: hsl(231deg 21% 17%);
  }
  *::-webkit-scrollbar-thumb:hover {
    background: hsl(231deg 18% 20%);
  } */

  /* Custom Scrollbar Styles */
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  *::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    height: 8px; /* Adjust the height as needed */
  }

  *::-webkit-scrollbar-track {
    background: var(
      --shade-1
    ); /* Dark background color, similar to your player */
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background: rgba(
      var(--mantine-color-green-6-rgb),
      0.88
    ); /* Green accent color, semi-transparent */
    border-radius: 4px;
    border: 1px solid var(--shade-1); /* Add a border to the thumb */
  }

  *::-webkit-scrollbar-thumb:hover {
    background: rgba(
      var(--mantine-color-green-6-rgb),
      0.66
    ); /* Darker green on hover */
  }

  /* For Firefox */
  /* Note: Firefox's scrollbar styling is more limited */
  /* You can use the `scrollbar-color` property, but it's less customizable */
  /* You can also use the `scrollbar-width` property */
  /* html {
  scrollbar-color: rgba(var(--mantine-color-green-6-rgb), 0.88) var(--shade-1);
  scrollbar-width: thin;
} */
}
